
<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">

<label for="">Title</label>
<input type="text" name="title">
<label for="">Post</label>
<textarea name="postbody" rows="6" cols="60"></textarea>
<button type="submit" name="button">Publish</button>
</form>
